@import "./sass/global";

body {
    height: 5000px;

    .course {
        font-weight: bold;
    }
}

.App {
    .appChild {
        font-weight: bold
    }
}

.overZero {
    color: #00F
}

.underZero {
    color: #F00
}

.controlled input:not([type="checkbox"], [type="radio"]),
.controlled select,
.controlled textarea {
    display: block;
    margin: 20px;
}
input[type="checkbox"], 
input[type="radio"]
{
    margin: 10px;
}